*{
    margin: 0;
    padding: 0; }

    body{
        background-color: rgb(39, 39, 39);;
    }

 #can{
    width: 100%;
    height: 100%;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}


#result{
    height: 200px;
    width: 400px;
    background-color: rgb(56, 56, 56);
    margin:  1rem auto;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    display:none;
   
}

#btn{
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(195, 195, 195);
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

/* CSS of first page */
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 150px auto;
}

h1{
    color: white;
    font-family: monospace;
    font-size: 80px;
    text-transform: uppercase;
}

#play{
    padding: 7px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
    font-size: 40px;
    font-weight: bolder;
    margin: 50px auto;
    cursor: pointer;
    animation: sizeChange 1s linear infinite  ;
}

@keyframes sizeChange {
    0%{
        font-size: 30px;
    }
    50%{
        font-size: 60px;
    }
    100%{
        font-size: 30px;
    }
}

#play:hover{
    animation: none;
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color: white;
}

/* CSS of second page */
.modes{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 150px;
}

.modes div{
    font-size: 50px;
    width: min-content;
    text-align: center;
    background-color: blue;
    border-radius: 15px;
    padding: 7px;
    cursor: pointer;
}

.single:hover{
    transform: scale(1.3);
}

.multi:hover{
    transform: scale(1.3);
}

/* adjustment for small screen */
@media screen and (max-width:500px) {
    h1{
        font-size: 60px;
    }
    .modes{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }
    .modes div{
        margin: 40px auto;
    }
}

.buttons{
    position: fixed;
}

.buttons button{
    background:none;
    border: none;
}

.buttons button img{
    width: 70px;
    height: auto;
}

#left-user{
    position: absolute;
    top: 160px;
    left: -177px;
}

#right-user{
    position: absolute;
    top:160px;
    left: 115px;
}

#left-com{
    position: absolute;
    left: -177px;
    top: -230px;
    
}

#right-com{
    position: absolute;
    left: 115px;
    top: -230px;
}