@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');
.resumePreview2{
    width:50%;
    height:auto;
   background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 1rem 0; */
    font-family: 'Sofia Sans', sans-serif;
}
.sidebar2{
    display: flex;
    flex-direction: space-between;
}
.resumePreview2 h4{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.sidebar21{
    padding:1rem;
    width:70%;
    background-color: green;
    color: white;
}
.sidebar22{
    padding: 1rem;
}
.sidebar22 hr{
    color: black;
}
